body {
	margin-top: 60px;
}

navbar {
	background-color: #1e94d2;
}

.imagem img {
	height: 50px;
	width: 50px;
	
	object-fit: cover;
	margin-right:0px;
	border-radius: 50%;
	box-sizing: border-box;
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #6902be 75%, #dc1888 100% );
   	padding: 2px;
		
}

.container {
    margin-right: 1px;
}